* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
	  'Lucida Sans', Arial, sans-serif;
  }

.main-footer {
	color: white;
	background-color: rgba(255, 255, 255, 0.781);
	padding-top: 3em;
	position: relative;
	bottom: 0;
	width: 100%;
}