<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /lml_marine_debris/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /lml_marine_debris/index.html [L]
</IfModule>