body, html {
  margin: 0;
}

p h1 h2 {
  color: #000000;
}

.caption-background {
  color: black;
  background-color: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

.slides {
  height: 90vh;
  object-fit: cover;
}

@media (max-width: 900px) {
  .carousel {
      max-width: 1200px; 
      max-height: 600px; 
  }
}

@media (max-height: 650px) {
  .carousel {
      max-width: 1200px; 
      max-height: 600px; 
  }
}