img {
    max-width: 1200px; 
    max-height: 600px; 
    object-fit: cover;
}

p h1 h2 {
  color: black;
}

h3.caption-background {
    color: black;
    background-color: #aaa8a8;
}

@media (max-width: 900px) {
    .carousel {
        max-width: 1200px; 
        max-height: 600px; 
    }
}
