.pie-chart {
    margin-bottom: 20px;
    height: 80vh;
    width: 80vw;
    /* background:#dddddd; */
}

.bar-chart {
    margin-bottom: 20px;
    max-height: 400px;
    max-width: 600px;
    /* background:#dddddd; */
}