.pie-chart {
    margin-bottom: 20px;
    /* max-height: 500px;
    max-width: 500px; */
    /* background:#dddddd; */
}

.bar-chart {
   margin-bottom: 20px;
    /* max-height: 400px;
    max-width: 600px; */
    /* background:#dddddd; */
}