.pie-chart {
    margin-bottom: 20px;
    max-height:450pxs;
    max-width: 450px;
    /* background:#dddddd; */
}

.bar-chart {
    margin-bottom: 20px;
    max-height: 400px;
    max-width: 600px;
    /* background:#dddddd; */
}