.main{
    display: flex;
    
}

.Login_UnApr {
    text-align: center;
    padding-top: 40px;
}

.login-error-msg {
    text-align: center;
    width: 280px;
    visibility: hidden;
}

/* Padding to the right */
.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

/* Table size */
.custom-table{
    width: 75%;
    /* width: 500px; */
    height: 200px;
    /* height: 50% */
    
}


/* Search bar size */
#search {
  width: 100%; 
  font-size: 16px; 
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(207, 206, 206); 
  margin-bottom: 12px; 
} 

/* Width of side navigation bar */
.nav-bar{
    width: 20%;
    min-height: 100vh;
    overflow: visible;
}

/* Padding for dropdown */
.dd {
    padding-bottom: 8px;
}

/* Padding for SVG */
.bi {
    vertical-align: -.125em;
    margin-right: 10px;
}

/* Padding for card */
.card-image{
    text-align: center;
    padding-top: 20px;
}

/* Background color for Input group */
.bg-gray {
    color: rgb(14, 13, 13);
    background-color: #e1e2e4;
}

/* Login Button color */
.btn-blue {
    /* color: rgb(255, 255, 255); */
    background-color: #61b1fb;
}
.btn-blue:hover {
    color: rgb(255, 255, 255);
    background-color: #3888d3;
}

/* Custom size for input group */
.email-input-size {
    height: 35px;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 3px;
}