img {
    max-width: 1200px; 
    max-height: 600px; 
    object-fit: cover;
}

p h1 h2 h3 {
    color: black;
}

@media (max-width: 900px) {
    .carousel {
        max-width: 600px; 
        max-height: 300px; 
        overflow: hidden;
    }
}

p.indent{
    text-indent:30px;
}