/* img {
    max-width: 1200px; 
    max-width: 1000px;
    max-height: 600px; 
    object-fit: cover;
} */ 

p h1 h2 h3 {
    color: black;
}

@media (max-width: 900px) {
    .carousel {
        max-width: 300px; 
        max-height: 300px; 
        overflow: hidden;
    }
}

p.indent {
    text-indent:30px;
}